@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    background-image: linear-gradient(to right, black, #ff005d, #ea0d6d, black);
   
    color: #ffffff;
}

.clock{
    height:200px;
    padding-top: 100px;
    text-align: center;
    font-size: 60px;
    font-family: 'Anton', sans-serif;
    
}